@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-color: #191919;
  --text-color: #dddddd;
  --second-color: #e43d40;
  --df-margin: 10px;
  --df-padding: 10px;
  --df-radius: 5px;
  --df-border: 5px solid var(--secound-color);
  scroll-behavior: smooth;
  --height: 0%;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--main-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.BigCup {
  width: 160px;
  height: 260px;
  background: rgba(102, 102, 102, 0.541);
  border-radius: 0 0 10px 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
  border-left: 2px solid rgba(255, 255, 255, 0.18);
  border-right: 2px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
}
.BigCup::before {
  content: "";
  background: rgb(66, 155, 238);
  width: 100%;
  height: var(--height);
  bottom: 0;
  position: absolute;
  transition: 0.3s;

  z-index: -1;
}

.smallCups {
  margin-top: 20px;
  width: 340px;
  height: 230px;
  /* background: #000; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.smallCup {
  width: 60px;
  margin: 0 10px;
  height: 100px;
  /* background: rgba(81, 202, 224, 0.692); */
  background: rgba(102, 102, 102, 0.541);
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
  border-left: 2px solid rgba(255, 255, 255, 0.18);
  border-right: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  user-select: none;
  cursor: pointer;
}

.smallCup::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgb(66, 155, 238);
  z-index: -1;
  transition: 0.3s;
}
.contain::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background: rgb(66, 155, 238);
  z-index: -1;
}
